<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
    {# jinja2 comment use krne se comments browser inspect per nhi dikhega, kyunki server side se remove ho jata hai#}
     {#<h1>{{"roshni maurya" | title}} </h1>#}   {# JINJA2 comment#}
     <h1>{{"roshni maurya" | capitalize}} </h1>
    <h1>{{first_name  | upper}} {{last_name | upper}}</h1>  
    <h2>Total Course: {{course | length}}</h2>
    {# <h2>City: {{city}}</h2> #}
    <h2>Price: {{price}}</h2>
    <p>GST Included: {{price+90}}</p>
    <p>{{10+30}}</p>

</body>
</html>
